* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1456743625079-86a97ff8bc86?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: borderbox;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body h1 {
  color: #fff;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 35px;
}

body h1 span {
  color: #0c8599;
}

.chat-box {
  backdrop-filter: blur(9px) saturate(141%);
  -webkit-backdrop-filter: blur(9px) saturate(141%);
  background-color: rgba(12, 133, 153, 0.42);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 750px;
  border-radius: 8px;
  padding: 20px;
  overflow: auto;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-box .chat-messages {
  height: 375px;
  overflow: auto;
}

.chat-box h2 {
  color: #fff;
  margin-bottom: 50px;
}

.chat-box h2 span {
  color: #0c8599;
}

.chat-box .message {
  backdrop-filter: blur(3px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  background-color: rgba(121, 121, 137, 0.65);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 15px 20px;
  width: 60%;
}

.chat-box .message-sender {
  color: #1f1f1f;
  font-weight: 500;
  font-size: 15px;
}

.chat-box .message-content {
  color: #fff;
  font-weight: 400;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.input-box textarea {
  width: 80%;
  border-radius: 8px;
  background: transparent;
  outline: none;
  padding: 8px;
  resize: none;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.input-box button {
  width: 20%;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  background-color: #12b886;
  color: #fff;
}

.input-box button ion-icon {
  font-size: 25px;
}
/*# sourceMappingURL=main.css.map */